<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>E123</td>
                    <td>John</td>
                    <td></td>
                    <td>
                        <a class="btn btn-success me-1" routerLink="leavesDetail">Approve</a>
                        <a class="btn btn-danger me-1" routerLink="leavesDetail">Reject</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>E123</td>
                    <td>Mark</td>
                    <td></td>
                    <td>
                        <a class="btn btn-success me-1" routerLink="leavesDetail">Approve</a>
                        <a class="btn btn-danger me-1" routerLink="leavesDetail">Reject</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>E123</td>
                    <td>Jacob</td>
                    <td></td>
                    <td>
                        <a class="btn btn-success me-1" routerLink="leavesDetail">Approve</a>
                        <a class="btn btn-danger me-1" routerLink="leavesDetail">Reject</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
